<launch>
  <!-- slam_node 启动 -->
  <node name="slam_node"
        pkg="slam_hub"
        type="localization_node"
        output="screen"
        required="true">

    <param name="image_topic" value="/camera/image_raw" />
    <param name="imu_topic" value="/imu/data_raw" />
    <param name="can_topic" value="/can/wheel_speed" />
    <param name="lidar_topic" value="/velodyne_points" />
    <param name="connection_timeout" value="5.0" />

  </node>
</launch>
